asgiref==3.11.1
black==26.1.0
brotli==1.2.0
cffi==2.0.0
click==8.3.1
cssselect2==0.9.0
Django==6.0.3
django-auditlog==3.4.1
django-decouple==2.1
django-widget-tweaks==1.5.1
django_base_kit==0.1.4
fonttools==4.62.1
isort==8.0.1
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
pillow==12.1.1
platformdirs==4.9.2
psycopg2-binary==2.9.11
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-decouple==3.8
pytokens==0.4.1
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
weasyprint==68.1
webencodings==0.5.1
whitenoise==6.12.0
zopfli==0.4.1
